include ../kanban_menu
script(src="/javascripts/components/d3-geo-projection/d3.geo.projection.min.js")

script(src="/javascripts/components/topojson/topojson.js")
script(src="/javascripts/stuff/globe.js")

style.
	stroke: white;
	stroke-width: 0.25px;
	fill: grey;

	.country {
		fill: #ccc;
		stroke: #fff;
		stroke-width: .5px;
		stroke-linejoin: round;
	}

	.graticule {
		fill: none;
		stroke: #999;
		stroke-opacity: .3;
		stroke-width: .5px;
	}

	.graticule.outline {
		stroke: #999;
		stroke-opacity: 1;
		stroke-width: 1px;
	}

	h1 {
		position: absolute;
		top: 280px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 18px;
		text-align: center;
		width: 960px;
		
	}

block 
	div(id="globe")
	h1(id="country")
	
