//javascripts
script(src="/javascripts/components/d3/d3.min.js")

//script(src="/javascripts/components/jquery/dist/jquery.min.js")

//script(src="/javascripts/components/slickgrid/lib/jquery-1.7.min.js")
script(src="/javascripts/components/slickgrid/lib/jquery-ui-1.8.16.custom.min.js")
script(src="/javascripts/components/slickgrid/lib/jquery.event.drag-2.2.js")

script(src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js")

//script(src='/javascripts/extensions/bootstrap.min.js')
//script(src='/javascripts/components/bootstrap/dist/js/bootstrap.min.js')
//script(src='/javascripts/components/bootstrap-notify/js/bootstrap-notify.js')


script(src="/javascripts/components/mousetrap/mousetrap.min.js")

script(src="/javascripts/kanban/kanban_config.js")
script(src="/javascripts/kanban/kanban_util.js")


script(src="/javascripts/components/slickgrid/slick.dataview.js")
script(src="/javascripts/components/slickgrid/slick.core.js")
script(src="/javascripts/components/slickgrid/plugins/slick.checkboxselectcolumn.js")
script(src="/javascripts/components/slickgrid/plugins/slick.autotooltips.js")
script(src="/javascripts/components/slickgrid/plugins/slick.cellrangedecorator.js")
script(src="/javascripts/components/slickgrid/plugins/slick.cellrangeselector.js")
script(src="/javascripts/components/slickgrid/plugins/slick.cellcopymanager.js")
script(src="/javascripts/components/slickgrid/plugins/slick.cellselectionmodel.js")
script(src="/javascripts/components/slickgrid/plugins/slick.rowselectionmodel.js")
script(src="/javascripts/components/slickgrid/controls/slick.columnpicker.js")
script(src="/javascripts/components/slickgrid/slick.editors.js")
script(src="/javascripts/components/slickgrid/slick.grid.js")

script(src="/javascripts/extensions/slickgrid/slick.compositeeditor.js")
script(src="/javascripts/extensions/slickgrid/admin.slick.formatters.js")


//stylesheets 
 
 
//link(rel='stylesheet', href='/javascripts/components/bootstrap/dist/css/bootstrap.min.css')
//link(rel='stylesheet', href="/javascripts/components/bootstrap-notify/css/bootstrap-notify.css")

link(rel='stylesheet', href="/javascripts/components/slickgrid/css/smoothness/jquery-ui-1.8.16.custom.css")

link(rel='stylesheet', href="/javascripts/components/slickgrid/slick.grid.css")
link(rel='stylesheet', href="/javascripts/components/slickgrid/controls/slick.columnpicker.css")

link(rel='stylesheet', href="/stylesheets/admin.css")


 

