
script(src="/javascripts/components/jquery/dist/jquery.min.js")
script(src="/javascripts/components/jqueryui/jquery-ui.min.js")
script(src="/javascripts/components/slickgrid/lib/jquery.event.drag-2.2.js")


script(src="/javascripts/components/mousetrap/mousetrap.min.js")
script(src="/javascripts/kanban/kanban_config.js")
script(src="/javascripts/kanban/kanban_util.js")

script(src="/javascripts/components/slickgrid/slick.dataview.js")
script(src="/javascripts/components/slickgrid/slick.core.js")
script(src="/javascripts/components/slickgrid/plugins/slick.checkboxselectcolumn.js")
script(src="/javascripts/components/slickgrid/plugins/slick.autotooltips.js")
script(src="/javascripts/components/slickgrid/plugins/slick.cellrangedecorator.js")
script(src="/javascripts/components/slickgrid/plugins/slick.cellrangeselector.js")
script(src="/javascripts/components/slickgrid/plugins/slick.cellcopymanager.js")
script(src="/javascripts/components/slickgrid/plugins/slick.cellselectionmodel.js")
script(src="/javascripts/components/slickgrid/plugins/slick.rowselectionmodel.js")
script(src="/javascripts/components/slickgrid/controls/slick.columnpicker.js")
script(src="/javascripts/components/slickgrid/controls/slick.pager.js")
script(src="/javascripts/components/slickgrid/slick.editors.js")
script(src="/javascripts/components/slickgrid/slick.grid.js")
script(src="/javascripts/extensions/slickgrid/slick.compositeeditor.js")
script(src="/javascripts/extensions/slickgrid/admin.slick.formatters.js")

script(type='text/javascript', src="/javascripts/extensions/pnotify/pnotify.custom.min.js")


//stylesheets 
 
link(rel='stylesheet', href="/javascripts/components/jqueryui/themes/smoothness/jquery-ui.min.css")
link(rel='stylesheet', href="/javascripts/components/slickgrid/slick.grid.css")
link(rel='stylesheet', href="/javascripts/components/slickgrid/controls/slick.columnpicker.css")
link(rel='stylesheet', href="/javascripts/components/slickgrid/controls/slick.pager.css")
link(rel='stylesheet', href="/stylesheets/admin.css")
link(rel="stylesheet"  href="/javascripts/extensions/pnotify/pnotify.custom.min.css")
