include ../kanban_menu
include mixins/chart_incident
// Load d3.js and c3.js
script(src='/javascripts/components/c3/c3.min.js')
// Load nv3d
script(src='/javascripts/components/nvd3/build/nv.d3.min.js')
script(src='/javascripts/dashboards/nvd3_incidents_multi.js')


style.
	#chartTest svg {
	  height: 400px;
		width:980px;
	}
	#chart2 svg {
	  height: 400px;
		width:980px;
	}
	#chartP8 svg {
	  height: 400px;
		width:980px;
	}
	#chartP1 svg {
	  height: 400px;
		width:980px;
	}

block content
	//+graph("test","chartTest")
	+chartIncident("Incdients Trend - P1","chartP1")
	+chartIncident("Incidents Trend - P8","chartP8")


include ../includes/material			
