include ../kanban_menu
include mixins/chart_incident
// Load d3.js and c3.js
script(src='/javascripts/components/c3/c3.min.js')
// Load nv3d
script(src='/javascripts/components/nvd3/build/nv.d3.min.js')
script(src='/javascripts/dashboards/nvd3_incidents_subdimension.js')


style.

	#chartP01-closedAt svg {
	  height: 800px;
		width:980px;
	}
	#chartP08-closedAt svg {
	  height: 2000px;
		width:980px;
	}
	#chartP16-closedAt svg {
	  height: 2000px;
		width:980px;
	}
	#chartP120-closedAt svg {
	  height: 2000px;
		width:980px;
	}
	
block content
	//+graph("test","chartTest")

	+chartIncident("Incidents - split by: "+subDimension,"P01","closedAt")
	+chartIncident("Incidents - split by: "+subDimension,"P08","closedAt")
	+chartIncident("Incidents - split by: "+subDimension,"P16","closedAt")
	+chartIncident("Incidents - split by: "+subDimension,"P120","closedAt")


include ../includes/material			
