include ../kanban_menu
// Load d3.js and c3.js
script(src='/javascripts/components/c3/c3.min.js')
// Load nv3d
script(src='/javascripts/components/nvd3/build/nv.d3.min.js')



style.
	#chart svg {
	  height: 400px;
		width:980px;
	}
	#chart2 svg {
	  height: 400px;
		width:980px;
	}
	#chartP8 svg {
	  height: 400px;
		width:980px;
	}
	#chartP1 svg {
	  height: 400px;
		width:980px;
	}


block content
	div.row(style="margin: auto;max-width:1000px")
		div.panel.panel-default
			div.panel-heading 
				|incidents: 
				b daily 
				|for period: 
				span("id=period" style="font-weight:bold")
			div.panel-body
				.btn-group
					a.btn.btn-default(href='javascript:void(0)') Quarter
					a.btn.btn-default.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
						span.caret
						ul.dropdown-menu
							li
								a(href='/dashboard/incidents?period=q1-2014') Q1-2014
							li
								a(href='/dashboard/incidents?period=q2-2014') Q2-2014
							li
								a(href='/dashboard/incidents?period=q3-2014') Q3-2014
							li
								a(href='/dashboard/incidents?period=q4-2014') Q4-2014
							li
								a(href='/dashboard/incidents?period=q1-2015') Q1-2015
							li
								a(href='/dashboard/incidents?period=q2-2015') Q2-2015
				.btn-group
					a.btn.btn-default(href='javascript:void(0)') HalfYear
					a.btn.btn-default.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
						span.caret
						ul.dropdown-menu
							li
								a(href='/dashboard/incidents?period=h1-2014') H1-2014
							li
								a(href='/dashboard/incidents?period=h2-2014') H2-2014
							li
								a(href='/dashboard/incidents?period=h1-2015') H1-2015
				.btn-group
					a.btn.btn-default(href='javascript:void(0)') Year
					a.btn.btn-default.dropdown-toggle(href='bootstrap-elements.html', data-target='#', data-toggle='dropdown')
						span.caret
						ul.dropdown-menu
							li
								a(href='/dashboard/incidents?period=2014') 2014
							li
								a(href='/dashboard/incidents?period=2015') 2015

				div(style="text-align:center")
					span(style="font-weight:normal;font-size:20px") &Sigma; 
					span(id="P1Sum" style="font-weight:bold;font-size:30px;color:#174D75;text-align:center") 
					span(style="font-weight:normal;font-size:20px") &nbsp;&nbsp;&nbsp;&Sigma; 
					span(id="P8Sum" style="font-weight:bold;font-size:30px;color:#00b8e4") 
					
				div(id="chart" style="text-align:center")
					svg
					
				div(id="chartP1" style="text-align:center")
					svg
				div(id="chartP8" style="text-align:center")
					svg
					


include ../includes/material			
	
script(src='/javascripts/dashboards/nvd3_incidents_multi.js')
script(src='/javascripts/dashboards/nvd3_incidents_P1_multi.js')
script(src='/javascripts/dashboards/nvd3_incidents_P8_multi.js')
