include ../kanban_menu
include mixins/chart_incident
// Load d3.js and c3.js
script(src='/javascripts/components/c3/c3.min.js')
// Load nv3d
script(src='/javascripts/components/nvd3/build/nv.d3.min.js')
script(src='/javascripts/dashboards/nvd3_incidents_multi.js')
script(src="/javascripts/components/progressbar.js/dist/progressbar.min.js")


style.
	#chartTest svg {
	  height: 400px;
		width:980px;
	}
	#chart2 svg {
	  height: 400px;
		width:980px;
	}
	#chartP01-openedAt svg {
	  height: 400px;
		width:980px;
	}
	#chartP01-resolvedAt svg {
		height: 400px;
		width:980px;
	}
	#chartP01-closedAt svg {
		height: 400px;
		width:980px;
	}


	#chartP08-openedAt svg {
	  height: 400px;
		width:980px;
	}
	
	#chartP08-resolvedAt svg {
	  height: 400px;
		width:980px;
	}

	#chartP08-closedAt svg {
	  height: 400px;
		width:980px;
	}
	
	#chartP16-openedAt svg {
		height: 400px;
		width:980px;
	}
	#chartP16-closedAt svg {
		height: 400px;
		width:980px;
	}
		#chartP120-openedAt svg {
			height: 400px;
			width:980px;
		}
block content
	//+graph("test","chartTest")
	+chartIncident("Incidents Trend","P01","openedAt")
	+chartIncident("Incidents Trend","P01","resolvedAt")
	+chartIncident("Incidents Trend","P01","closedAt")
	+chartIncident("Incidents Trend","P08","openedAt")
	+chartIncident("Incidents Trend","P08","resolvedAt")
	+chartIncident("Incidents Trend","P08","closedAt")
	+chartIncident("Incidents Trend","P16","openedAt")
	+chartIncident("Incidents Trend","P16","closedAt")
	
	+chartIncident("Incidents Trend","P120","openedAt")

include ../includes/material			
