include ../kanban_menu
// Load d3.js and c3.js
script(src='/javascripts/components/c3/c3.min.js')
// Load nv3d
script(src='/javascripts/components/nvd3/build/nv.d3.min.js')



block content
	div.row(style="margin: auto;max-width:1000px")
		div.panel.panel-default
			div.panel-heading studios - L1 targets dashboard
			div.panel-body
				
				
			
	
script(src='/javascripts/c3/availability_gauge.js')
script(src='/javascripts/c3/incident_barchart.js')
script(src='/javascripts/c3/mobile_spline.js')
