include ../kanban_menu

block content
	div.row(style="margin: auto;max-width:1150px")
		div.panel.panel-default
			div.panel-heading studios - L1 targets dashboard
			div.panel-body
				
				
			
	
script(src='/javascripts/c3/availability_gauge.js')
script(src='/javascripts/c3/incident_barchart.js')
script(src='/javascripts/c3/mobile_spline.js')
