include ../kanban_menu
	
block content
	div(id="broccoli")
	#chart(style='margin:10px 10px')

script(type="text/javascript").
	var _pickL2 = '#{pickL2}';
	var _showEmployeeTree = '#{showEmployeeTree}';
	var _showTargetTree = '#{showTargetTree}';

script(src="/javascripts/organization/target2employee_force.js")
