style.
	#radio-button h2 {
	font-size: 18.7199993133545px;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 50px;
	}
	#radio-button .radio {
	margin: 20px 10px;
	}


h4 roletype
div
	.radio.radio-success
		label
			input(type="radio" name="sample1" value="option1" checked="") 
			|&nbsp;position
	.radio.radio-success
		label
			input(type="radio" name="sample1" value="option1") 
			|&nbsp;coporate title
	div.radio.radio-success
		label
			input(type="radio" name="sample1" value="option1") 
			|&nbsp;job title
	div.radio.radio-success
		label
			input(type="radio" name="sample1" value="option1") 
			|&nbsp;job function

hr.divider

h4 hierarchy type
div
	.radio.radio-success
		label
			input(type="radio" name="sample1" value="option1" checked="") 
			|&nbsp;tax/hr line supervisor
	.radio.radio-success
		label
			input(type="radio" name="sample1" value="option1") 
			|&nbsp;business process supervisor
				
hr.divider

h4 leaf nodes
div
	.togglebutton
		label 
			input(type="checkbox" checked)
			|show
	
hr.divider
		
h4 parameters

div.form-group
	label.control-label
	div.input-group(style="width:300px")
		input.form-control(type="text" placeholder="height in px" style="width:200px")
		span.input-group-btn
			button.btn.btn-flat.btn-default.btn-sm(type="button") set height

	label.control-label
	div.input-group(style="width:300px")
		input.form-control(type="text" placeholder="depth level" style="width:200px")
		span.input-group-btn
			button.btn.btn-flat.btn-default.btn-sm(type="button") set depth level

	label.control-label
	div.input-group(style="width:300px")
		input.form-control(type="text" placeholder="depth width" style="width:200px")
		span.input-group-btn
			button.btn.btn-flat.btn-default.btn-sm(type="button") set depth width

	label.control-label
	div.input-group(style="width:300px")
		input.form-control(type="text" placeholder="height in px" style="width:200px")
		span.input-group-btn
			button.btn.btn-flat.btn-default.btn-sm(type="button") set height


	


	
	script.
		
		$(document).ready(function() {
			$('#xxx').multiselect({
				buttonClass: 'btn-primary btn-sm',
				onChange: function(element,checked){
					console.log("element: "+_val+" checked: "+checked);
					
					var _val = $(element).val()
					HIERARCHY_TYPE = _val;
					d3.select("svg").remove();
					render();
				}
			});
			
		});
		

		$(document).ready(function() {
		
			$('#yyy').multiselect({
				buttonClass: 'btn-primary btn-sm',
				onChange: function(element,checked){
					console.log("element: "+_val+" checked: "+checked);
					
					var _val = $(element).val()
					ROLE_TYPE = _val;
					d3.select("svg").remove();
					render();
					}
				});
		});

	
	
