
link(rel='stylesheet', href='/stylesheets/material.css')
link(rel='stylesheet', href='/javascripts/components/bootstrap/dist/css/bootstrap.min.css')

block content
div(style="width:500px;margin:0 auto;height:600px")
	
	
	
	// ************ material cards ******************
	.row
		.col-xs-12.col-sm-6.col-md-6.col-lg-6
			.box(style="height:400px;text-align:center")
				br
				
				img(src="/images/chrome_logo_2x.png" width="100px")
				.info
					h3.text-center uuupsie!
						br
						br
						if session.CONTEXT
							img(src="images/space_big_#{session.CONTEXT}.png" width="100px" style="margin:5px auto")
						else
							img(src="images/space_big_bpty.png" width="100px" style="margin:5px auto")
						
						br
						br
						small.text-center ...is not supported on any other browsers than google chrome 
					.text-center
						br
						a.btn(href="http://www.google.com/chrome/" title="Download Google Chrome" target="_blank") download google chrome
