include kanban_menu

// example of inclusion of generated client side jade template function
script(src='/javascripts/components/jade-runtime.js/runtime.js')
script(src='/javascripts/_jade/_customers.js')

script.
	$.getJSON("/api/space/rest/customers",function(customers){
		var locals={};
		locals.customers=customers;	
		var _html =template(locals);
		$(_html).insertAfter("#spacemenu");
		//$("#customers").tablesorter();
	})
	
	
