include kanban_menu


block content
	div.row(style="margin-left:10px;margin-bottom:10px;width:1200px")
		div.panel.panel-default
			div.panel-heading ...dashboard
			div.panel-body dashboard contents
		
		

