include kanban_menu

block content
	div.row(style="margin-left:10px;margin-bottom:10px;width:420px; margin: 10px auto;")
		.jumbotron(style="background:#ffffff;text-align:center")
			img(src="images/playbooks/bwin_playbook_3d.png" width="300px" style="margin:10px auto")
			h2(style="margin:10px auto;text-align:center") 
				span(style="color:black") integrated
				b(style="color:black")  strategy²tactics
				br
				br
				small
					p(style="font-size:18px") corpkanban, organization, roadmapping, targets, organization, product catalogs, playbooks, incidents and stuff....
					button.btn.btn-primary.btn-xs(onClick="window.location.href='/login'") Login
				br
				span(style="color:grey;font-size:10px") bpty studios | <b>commercial management</b> | kanbanv2 - alpha version 

	include includes/material

			

