include kanban_menu

block content
	div.row(style="margin-left:10px;margin-bottom:10px;width:500px")
		.jumbotron(style="background:#ffffff")
			img(src="images/playbooks/bwin_playbook_3d.png" width="300px" style="margin-left:50px")
			h2(style="margin-left:50px") 
				span(style="color:black") integrated
				b(style="color:black")  strategy²tactics
				small
					p corpkanban, organization, roadmapping, targets, organization, product catalogs, playbooks, incidents and stuff....
					p.btn.btn-primary.btn-s(onClick="window.location.href='/login'") Login
				br
				span(style="color:grey;font-size:10px") bpty studios | <b>commercial management</b> | kanbanv2 - alpha version 

			
			

