include kanban_menu

block content
	script(type="text/javascript").
		$(document).ready(function() {
			$('#kanban_menu').sidr({speed:300});
		});

	
	div.notifications.top-left
	div.row(style="margin-left:10px;margin-bottom:10px")
		div(id="sidr" style="margin-left:10px;margin-top:10px")
			//include board/includes/menu_svg_export.jade
			//include board/includes/menu_visibility_switches.jade
		
		
		// Button trigger modal
		button.btn.btn-primary.btn-xs(type="button" data-toggle="modal" data-target="#myModal")
			span demo modal
		// Button trigger modal
		button.btn.btn-success.btn-xs(type="button" data-toggle="modal" data-target="#v1EpicsModal")
			span v1 epics

		// Button trigger whiteboard
		button.btn.btn-warning.btn-xs(type="button" onclick="renderWhiteboard()")
			span show backboard

		// Button trigger kanbanboard
		button.btn.btn-warning.btn-xs(type="button" onclick="hideWhiteboard();showKanbanboard()")
			span show kanban board
		
		//Modal
		div.modal.fade(id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" )
			div.modal-dialog
				div.modal-content(style="opacity:1")
					div.modal-header
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times
						h3.modal-title(id="myModalLabel")
							| admin menu .....
					div.modal-body
						include board/includes/menu_svg_export.jade
						include board/includes/menu_metrics_multiselects.jade
						include board/includes/menu_visibility_switches.jade
						
					div.modal-footer
						button.btn.btn-default.btn-xs(type="button" data-dismiss="modal")
							span Close
						button.btn.btn-primary.btn-xs(type="button")
							span Save changes
		
		//v1EpicSelect Modal
		div.modal.fade(id="v1EpicsModal" tabindex="-1" role="dialog" aria-labelledby="v1EpicsModal" aria-hidden="true" )
			div.modal-dialog
				div.modal-content(style="opacity:1")
					div.modal-header
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times
						h4.modal-title(id="myModalLabel")
							
							|  v1 epics
					div.modal-body
						ul(id="v1epics")
							each e in epics
								li
									img(src="/images/v1/epic.gif" height="10px")
									span(style="font-size:10px") &nbsp; #{e.Number} - #{e.Name} 
						
		
		div.btn-group-xs
			button.btn.btn-primary.btn-xs(id="kanban_menu" type="button") 
				span.glyphicon.glyphicon-off  
				span  stuff..
		
	
	script(type="text/javascript").
		
		render("/images/svg/external.svg");
		
		var el = document.getElementById('v1epics');
		var sortable = Sortable.create(el,{});
		
		
		

						
		

		


