extends layout

block content
	div.row(style="margin-left:10px;margin-bottom:10px;margin-top:10px")
		img(src='/images/external_elements_logo_bpty.png'  height='20px')
		if session.AUTH
			span(style="font-size:10px;margin-left:20px;color:grey")  logged in as: <b> #{session.AUTH} </b> 
			
		.div(class='notifications top-left')

	div.navbar.navbar-default
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/') integrated <b>strategy</b>²<b>tactics</b>

		.collapse.navbar-collapse
			ul.nav.navbar-nav
				
				if !session.AUTH
					li.active
						a(href='/login') login
					
				if session.AUTH
					li.active
						a(href='/logout') logout
				
				ul.nav.navbar-nav
					li.dropdown(id="fat-menu")
						a.dropdown-toggle(id="targets" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false") environment
							span.caret 

						ul.dropdown-menu(role="menu" aria-labelledby="admin")
							li(role="presentation") 
								a(role="menuitem" tabindex="-1" href="/customers") customers
							li(role="presentation") 
								a(role="menuitem" tabindex="-1" href="/competitors") competitors
							li(role="presentation") 
								a(role="menuitem" tabindex="-1" href="/labels") labels
							li
								a(href='/playbooks') playbooks
				if session.AUTH
					li
						a(href='/boards') boards
					ul.nav.navbar-nav
						li.dropdown(id="fat-menu")
							a.dropdown-toggle(id="targets" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false") targets
								span.caret 

							ul.dropdown-menu(role="menu" aria-labelledby="admin")
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/org/circlecontain/targets") targets circle contain map
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="#") targets flat list
				ul.nav.navbar-nav
					li.dropdown(id="fat-menu")
						a.dropdown-toggle(id="org" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false") initiatives & portfolio
							span.caret 
						ul.dropdown-menu(role="menu" aria-labelledby="portfolio")
							li(role="presentation") 
								a(role="menuitem" tabindex="-1" href="/portfolio") [portfolio meeting] list

					
					
				if session.AUTH
					ul.nav.navbar-nav
						li.dropdown(id="fat-menu")
							a.dropdown-toggle(id="admin" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false") products & services 
								span.caret 

							ul.dropdown-menu(role="menu" aria-labelledby="admin")
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/org/circlecontain/productportfolio") product portfolio (pka)
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/org/circlecontain/productcatalog") product & service catalog (stg)
					
					ul.nav.navbar-nav
						li.dropdown(id="fat-menu")
							a.dropdown-toggle(id="org" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false") organization 
								span.caret 

							ul.dropdown-menu(role="menu" aria-labelledby="org")
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/org/tree/2015-02-17") tree [2015-02-17]

								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/org/tree/2015-01-15") tree [2015-01-15]
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/org/tree/2014-06-26") tree [2014-06-26]
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/org/tree/2013-04-11") tree [2013-04-11]
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/org/tree/2012-04-29") tree [2012-04-29]
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/org/tree/2011-04-29") tree [2011-04-29]
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/org/radial") radial
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/org/circlecontain/org/2015-01-15") circle contain
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/org/force") force map experiments
					
					
					
					ul.nav.navbar-nav
						li.dropdown(id="fat-menu")
							a.dropdown-toggle(id="import" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false") xlsx import 
								span.caret 

							ul.dropdown-menu(role="menu" aria-labelledby="import")
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/upload") portfolio gate 
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/upload") PI HR assignment
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/upload") plain **you should know what you do !
					ul.nav.navbar-nav
						li.dropdown(id="fat-menu")
							a.dropdown-toggle(id="admin" href="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false") admin 
								span.caret 

							ul.dropdown-menu(role="menu" aria-labelledby="admin")
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/admin?type=initiatives") initiatives
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/admin?type=metrics") metrics
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/admin?type=boards") boards
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/admin?type=targets") targets
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/admin?type=v1epics") v1 epics
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/admin?type=scrumteams") scrum teams
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/admin?type=labels") labels
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/admin?type=customers") customers
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/admin?type=competitors") competitors
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/admin?type=organization") organization
								
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/admin?type=incidents") incidents (very large..)
								li
									a(href='/api') API
								li(role="presentation") 
									a(role="menuitem" tabindex="-1" href="/config") -- show config --
					
						
							
						
	include includes/material
