include kanban_menu

link(rel='stylesheet', href='/stylesheets/login.css')

block content
	
div.panel(style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;;width:350px;height:420px;text-align: center;margin: 10px auto;")
	div.avatar
	div(style="margin: 40px auto;")
		form(id="loginform" action="" method="" autocomplete="off" ) 
			br
			div(style="margin-left:30px;width:200px")
				div(style="height:40px")
					input.form-control.floating-label(id="username" name="username" type="text" placeholder="username" autocomplete="off" )
				div(style="height:40px")
					input.form-control.floating-label(id="password" name ="password" type="password" placeholder="password" autocomplete="off"  )
			br
		
			button.btn.btn-primary(id="loginsubmit" type="button") Login
			br
			br
			p(style="font-size:8px;font-family:arial")
				b Disclaimer:
				|Distribution of this information without authorisation is a breach of the Bwin.Party Code of Conduct and disciplinary action may be taken against you. 
				br

// some code ;-)
script(type='text/javascript').
	$(document).keypress(function(e) {
		if(e.which == 13) {
			$("#loginsubmit").click();
		}
	});
	
	$("#loginsubmit").click(function() { submit(); });
	
	function submit() {
		var form = document.getElementById("loginform");
		var _uid = form.username.value;
		var _pwd = form.password.value;
		var _url = "/authenticate";
		
		//form.ajax call 
		$.ajax({
			type: "POST",
			url: _url,
			data: { 'username': _uid, 'password':_pwd },
			cache: false,
			dataType:"json",
			success: function(msg)
				{
					// and redirect
					// but to which destination ????
					sessionStorage.setItem("AUTH",msg.AUTH);
					
					var _redirect = "";
					
					if (!msg.ORIGINAL_URL) {
						_redirect="dashboard";
					}
					else {
						_redirect=msg.ORIGINAL_URL;
					}
					if (msg.REDIRECT_URL) _redirect=msg.REDIRECT_URL;
					
					console.log("***** and now do a client side redirect: "+_redirect);
					redirect(_redirect);
				},
			error: function(msg)
				{
					//if (afterHandlerCallback !=undefined)
					$('.top-left').notify({
							message: { html: "<span class=\"glyphicon glyphicon-fire\"></span><span style=\"font-size:10px;font-weight:bold\"> ajaxCall.("+_url+") says:</span> <br/><div style=\"font-size:10px;font-weight:normal;margin-left:20px\">"+JSON.stringify(msg)+"</div>" },
							fadeOut: {enabled:true,delay:2000},
							type: "danger"
						  }).show(); // for the ones that aren't closable and don't fade out there is a .hide() function.
				}
			});
		
		return false;
	}



include includes/material
		
