include kanban_menu

block content

div.panel(style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;margin-top: 60px;width:400px;text-align: left;margin: 10px auto;")
	div.panel-heading 
		i.glyphicon.glyphicon-floppy-open(style="font-size:15px")
		span(style="font-size:20px")&nbsp;DATA IMPORT 
		br
		small direct excel upload and import
		
	div.panel-body 
		
		p
			| upload excel lists - 	format: {collectionname}_{YYYY}-{MM}-{DD}.xlsx
		p(style="font-size:10px;margin-left:20px;font-weight:bold")
			| currently supported plain import excels:
		ul(style="font-size:10px;margin-left:20px")
			li productportfolio
			li productcatalog
			li targets
			li incidents
			li labels
			li customers
			li competitors
			
			

	div.form-box
		form(id="uploadForm" enctype="multipart/form-data" action="/upload/process" method="post")
			
			
			.fileinput.fileinput-new.input-group(data-provides="fileinput")
				.form-control(data-trigger="fileinput")
					i.glyphicon.glyphicon-file.fileinput-exists
						span.fileinput-filename(style="width:190px;font-size:12px;font-family:arial")
				span.input-group-addon.btn.btn-info.btn-file
					span.fileinput-new Select file
					span.fileinput-exists(style="width:190px") Change
					input(type="file" name="userFile")
				a.input-group-addon.btn.btn-default.fileinput-exists(href="#" data-dismiss="fileinput")
						Remove
			
			
			
			input.btn.btn-primary.btn-block(type="submit" value="Upload xlsx" name="submit" data-toggle="tooltip" data-placement="top" title="......explanaotry stuff")
	div.panel-footer
		if message
			.alert.alert-success(role="alert" style="font-size:10px; font-weight:bold")
				#{message}


include includes/material
