block content
	
div.panel(style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;;width:500px;text-align: center;margin: 10px auto;")
	div(style="margin: 10px auto;") CREATE NEW BOARD
		form.form-horizontal(id="createboardform" action="" method="" autocomplete="off" ) 
			div(style="margin-left:5px;width:400px;height:40px")
				input.form-control.floating-label(id="name" name="name" type="text" placeholder="name" autocomplete="off" data-hint="the name of your board")
			div(style="margin-left:5px;width:400px;height:40px")
				input.form-control.floating-label(id="vision" name="vision" type="text" placeholder="vision" autocomplete="off" data-hint="your purpose catch-phrase" )
			div(style="margin-left:5px;width:400px;height:80px")
				textarea.form-control.floating-label(id="subvision" name ="subvision" rows="3" placeholder="sub - vision" autocomplete="off" )
			div(style="margin-left:5px;width:400px;height:80px")
				textarea.form-control.floating-label(id="mission" name ="mission" rows="3" placeholder="mission" autocomplete="off" )
			
			table(style="width:400px")
				tr
					td(colspan="2" style="margin-left:5px;width:160px;height:50px;vertical-align:bottom")
						input.form-control.floating-label(id="startdate" name="startdate" type="text" placeholder="start date" autocomplete="off" value="2015-01-01")
					td(colspan="2" style="margin-left:5px;width:160px;height:50px;vertical-align:bottom")
						input.form-control.floating-label(id="enddate" name="enddate" type="text" placeholder="end date" autocomplete="off" value="2017-01-01")
				tr
					td(style="margin-left:5px;width:80px;height:50px;vertical-align:bottom")
						input.form-control.floating-label(id="height" name="height" type="text" placeholder="height" autocomplete="off" value="4000")
					td(style="margin-left:5px;width:80px;height:50px;vertical-align:bottom")
						input.form-control.floating-label(id="width" name="width" type="text" placeholder="width" autocomplete="off" value="1500")
					td(style="margin-left:5px;width:80px;height:50px;vertical-align:bottom")
						input.form-control.floating-label(id="itemscale" name="itemscale" type="text" placeholder="item scale" autocomplete="off" value="0.7")
					td(style="margin-left:5px;width:80px;height:50px;vertical-align:bottom")
						input.form-control.floating-label(id="itemfontscale" name="itemfontscale" type="text" placeholder="font scale" autocomplete="off" value="5")
				tr
					td(style="margin-left:5px;width:80px;height:50px;vertical-align:bottom")
						input.form-control.floating-label(id="wip" name="wip" type="text" placeholder="wip days" autocomplete="off" value="90")
					td(colspan="3" style="margin-left:5px;width:290px;height:50px;vertical-align:bottom")
						input.form-control.floating-label(id="groupby" name="groupby" type="text" placeholder="groupby" autocomplete="off" value="Product,BusinessBacklog,Number")
				tr
					td(style="margin-left:5px;width:80px;height:50px;vertical-align:bottom")
						input.form-control.floating-label(id="leftbox" name="leftbox" type="text" placeholder="leftbox" autocomplete="off" value="140")
					td(style="margin-left:5px;width:80px;height:50px;vertical-align:bottom")
						input.form-control.floating-label(id="rightbox" name="rightbox" type="text" placeholder="rightbox" autocomplete="off" value="10")
					td(style="margin-left:5px;width:80px;height:50px;vertical-align:bottom")
						input.form-control.floating-label(id="contextbox" name="contextbox" type="text" placeholder="contextbox" autocomplete="off" value="30")
					td(style="margin-left:5px;width:80px;height:50px;vertical-align:bottom")
						//input.form-control.floating-label(id="itemfontscale" name="itemfontscale" type="text" placeholder="font scale" autocomplete="off" value="5")
				tr
					td(colspan="2" style="margin-left:5px;width:160px;height:50px;vertical-align:bottom")
						input.form-control.floating-label(id="ref" name="ref" type="text" placeholder="reference" autocomplete="off" value="")
					td(colspan="2" style="margin-left:5px;width:160px;height:50px;vertical-align:bottom")
						
				tr
					td(colspan="3" style="height:100px;text-align:left")
						div.radio.radio-primary
							label 
								input(id="datalink_roadmap" type="radio" name="datalink" value="roadmapinitiatives" checked)
								|link to V1 roadmap data
						div.radio.radio-primary
							label 
								input(id="datalink_backloginitiatives" type="radio" name="datalink" value="backloginitiatives")
								|link to V1 backlogs - initiatives
						div.radio.radio-primary
							label 
								input(id="datalink_backlogplanningepics" type="radio" name="datalink" value="backlogplanningepics")
								|link to V1 backlogs - planning epics
						div.radio.radio-primary
							label 
								input(id="datalink_empty" type="radio" name="datalink" value="empty" )
								|empty
								
			button.btn.btn-default.btn-xs(type="button" )
				span Cancel
			button.btn.btn-info.btn-xs(id="createboardsubmit" type="button")
				span Create
