include ../kanban_menu


block content
	
div.btn-group-xs(style="margin-left:20px;")
	span(style="font-family:arial;font-weight:normal;font-size:50px;color:lightgrey") #{config.context} FACEBOOK 
	span(id="admintype" style="font-family:arial;font-weight:bold;font-size:50px;color:lightgrey")
	span(style="font-size:32px")
		span(style="font-family:arial;font-weight:bold;color:lightgrey") . 
		span(id="countitems" style="font-family:arial;font-weight:bold;color:lightgrey") #{employees.length}
		span(style="font-family:arial;font-weight:normal;color:lightgrey") &nbsp;items
	br
	
	each employee in employees
		//img.img-circle(src='http://my.bwinparty.com/api/people/images/#{employee["Employee Number"]}' height="50" width="50")
		|#{employee["First Name"]} - 
		



							
	include ../includes/material					
	

