include ../kanban_menu

script(src="/javascripts/colorbrewer.js")
script(src="/javascripts/kanban/kanban_config.js")
script(src="/javascripts/organization/org_util.js")

style.
	.chart {
		display: block;
		margin: auto;
		margin-top: 60px;
		font-size: 9px;
	}

	rect {
		stroke: #eee;
		fill: #aaa;
		fill-opacity: .8;
	}

	rect.parent {
		cursor: pointer;
		fill: steelblue;
	}

	text {
		pointer-events: none;
	}


block content
	div.notifications.top-left
	div.panel(style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;width:1200px;text-align: left;margin: 10px auto;")
		.panel-heading
			i.glyphicon.glyphicon-book(style="font-size:15px")
			span(style="font-size:20px")&nbsp; #{collection.toUpperCase()} 
			if orgdate
				span(style="font-size:20px")&nbsp; #{orgdate.toUpperCase()} 
			span(style="font-size:20px")&nbsp; - PARTITION 
			div(id="stats" style="font-size:10px")
		.panel-body
			
			div(id="d3container")

script(src="/javascripts/organization/org_partition.js")
	
