include ../kanban_menu

link(rel='stylesheet', href='/stylesheets/jquery.orgchart.css')
script(src="/javascripts/organization/jquery-orgchart/jquery.orgchart.min.js")

style.
	.long-name {
		font-size: 12px;
		font-weight:bold;
		font-style:italic;
	}
	
	div.orgChart div.node.level0,
	div.orgChart div.node.level2 {
		background-color: rgb(244, 227, 116);
	}


block content
	
div.btn-group-xs(style="margin-left:20px;")
	span(style="font-family:arial;font-weight:normal;font-size:50px;color:lightgrey") #{config.context} simple chart 

div.hide
	ul(id="simpleorg")
		li bpty.holding
			|CEO
			br
			|norbert teufelberger 
		
			ul
				li bpty.corporate 	<adjunct><i>robert hoskins, company secretary</i></adjunct>
					ul
						li HR
						li finance
						li facilities
						li communications
						li reg affairs
						li legal
				li bpty.studios
					|CEO - joachim baca
					ul
						li commercial
							|director - marc lange
						li IT delivery europe
							|director - christoph haas
						li IT delivery india
							|director -  sandeep tiku
						li product
							|director - steve guthrie
						
				li bpty.labels
					ul
						li bwin
							|director - sam sahdi
						li games
							|director - golan shaked
						li US
							|director - jeffrey haas
				li bpty.kalixa
					|CEO - ed chandler
					
				li bpty.CS
					|CEO - petra reiter
						
				
div(id="main" )				

include ../includes/material					


script.
	
	$("#simpleorg").orgChart({container: $("#main"), stack: true, depth: 3,fade:true,interactive:true,showLevels:1,replace:true});

							
	
