include ../kanban_menu

script(src="/javascripts/kanban/kanban_config.js")
script(src="/javascripts/organization/org_util.js")

script(src='/javascripts/components/jade-runtime.js/runtime.js')
script(src='/javascripts/_jade/organization/_employeeNode.js')

style.
	.node circle {
		fill: #fff;
		stroke: steelblue;
		stroke-width: 3px;
	}

	.node text { font: 8px sans-serif; }

	.link {
		fill: none;
		stroke: #ccc;
		stroke-width: 2px;
	}


block content
	div.container-fluid
	
		div.panel(id="orgpanel" style=" position: relative;padding: 20px 40px 40px;display: block;background-color:white;width:800px;text-align: left;margin: 10px auto;")
			.panel-heading
				i.glyphicon.glyphicon-book(style="font-size:15px")
				span(style="font-size:20px")&nbsp; #{collection.toUpperCase()} 
				if orgdate
					span(style="font-size:20px")&nbsp; #{orgdate.toUpperCase()} 
				span(style="font-size:20px")&nbsp; - TREE VERTICAL 
			div(style="font-size:8px")
					|-- this is a alpha version of an orgchart browser --
			.panel-body
				
				div(id="d3container")

	script(type="text/javascript").
		var date = '#{orgdate}'
		var baseRoot = JSON.parse('!{JSON.stringify(baseRoot)}');

	script(src="/javascripts/organization/org_tree_vertical.js")
	
