

.login-container{
    position: relative;
    padding: 20px 40px 40px;
    display: block;
    background-color:white;
    margin-top: 60px;
    width:350px;
    height:350px;
    text-align: center;
    margin: 80px auto;

}


.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    background-color: lightgrey;
    background-size: cover;
    background-size: 98%;
    background-repeat: no-repeat;
    
}


